{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block homeactive %}active{% endblock homeactive %}
{% block body %}

<h1>
  Welcome to the flasklet demo page.
</h1>

<div class="row" style="padding-top: 100px">
    <div class="span4 offset4">
    <a href="{{ url_for('change_bgcolor') }}" class="btn btn-large btn-primary">
        <i class="icon-random"></i> Change the background color
    </a>
    </div>
</div>
<div class="row">
<div class="span4 offset4" style="padding-top: 20px">
    <form class="form-inline">
        <input type="text" class="input-medium" placeholder="pyglet text" name="username" id="username">
        <a href="#" class="btn btn-primary" onclick='javascript:window.location="/add_text/"+$("#username").val()'>
            Send To Display</a>
    </form>
</div>
</div>


{% endblock body %}